* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        border-bottom: 2px solid black;
}

header img {
        /* padding: 2px; */
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: solid black;
}

header li {
        display: inline;
        margin: 20px;
        color: black;
}

a:link {
        text-decoration: none;
}

main{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
}

footer {
        display: flex;
        justify-content: center;
}

.projects {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: fit-content;
}

.card {
        position: relative;
        margin: 20px 20px;
        padding: 5px;
        height: 350px;
        width: 300px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        overflow: hidden;
}

.card img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px ;
}

.card-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        backdrop-filter: blur(5px);
        border-radius: 12px;
        transition: 1.5s;
}

.card-details h2 {
        text-transform: capitalize;
}

.card-details p {
        font-size: 16px;
        line-height: 25px;
        margin: 35px 0;
        font-weight: 400;
}

.card-buttons {
        display: flex;
        position: absolute;
        bottom: 0;
}

.card-buttons button {
        margin: 15px;
        padding: 5px;
        width: 75px;
        border-radius: 6px;
        outline: none;
        cursor: pointer;
}

.card:hover .card-details{
        left: 0;
}
/* TODO make link active only on icon (not margin) hover */
.footer-icon {
        margin: 40px 40px 5px 40px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        filter: brightness(0%);
}

.footer-icon:hover {
        filter: brightness(1);
}
/* TODO make this fit at multiple screen sizes */
#about {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 25px;
        width: 400px;
        height: 100vh;
        left: -20%;
}

#about h1 {
        font-size: 64px;
        width: max-content;
        padding: 12px;
}

#about h2 {
        font-size: 48px;
        width: max-content;
        padding: 12px;
}

#about p {
        padding: 12px;
        line-height: 25px;
}

#projects {
        
}

/* TODO edit flex settings so it better fits the page at different resolutions */
#spotlight {
        flex-basis: 75%;
        height: 400px;
}